html {
	background-color: #01F33E;
	font-family: Arial;
	font-size: 16px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
#center1 {
	
}
#center2 {
	background-color: #A5DBEB;
}
#p1 {
	background-color: #CC0000;
}
#p3 {
	background-color: #087B7B;
}
#p4 {
 background-color: #FF6600;
}
button {
	background-color: orange; 
}
video {
	height: 100;
	width: 100;
}
#canvas {
	background-color: #FFFF00
}
#p2 {
	background-color: #840000;
}